@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* Set pure white */
  --background-end-rgb: 255, 255, 255;   /* Set pure white */
}

/* Remove dark mode settings for simplicity */
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
  margin: 0; /* Remove default margin */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Animation for continuous movement */
  @keyframes continuousMove {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(50vw, -50vh);
    }
    50% {
      transform: translate(-50vw, 50vh);
    }
    75% {
      transform: translate(50vw, 50vh);
    }
    100% {
      transform: translate(-50vw, -50vh);
    }
  }

  /* Dot style with animation */
  .animate-continuous-move {
    animation: continuousMove infinite 20s linear; /* Adjust speed if needed */
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.7;
  }
}
